<!DOCTYPE html>
<html>
  <head>
    <title>Gallowrr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono" rel="stylesheet">
  </head>

  <body>

    <div class="top-bar">
     <div class="Home">
       <h1><a href="/">GALLOWRR </a></h1>
     </div>
       <% if user_signed_in? %>
       <div class="active-session">
         <div class="name">
           Welcome <%= current_user.handle %> |
         </div>
          <div>
            <%= link_to 'Sign Out', root_path, method: :delete %>
          </div>
        </div>
       <% elsif current_user.nil? %>
        <div class="inactive-session">
         <div class="signup">
           <a href="/signup">Sign Up</a>
         </div>
         <div class="has-form" style="display: inline-block;">
           <form action="/" accept-charset="UTF-8" method="post">
             <input name="utf8" type="hidden" value="&#x2713;"/>
             <input type="hidden" name="authenticity_token" value="jpEFiM8bGRIOoba676f99my5ReSeN3h3uQfvKfRb2Tn+2+uYiVcMTU3h4I/Y/ZfD0SBVCHwLTuC+QBO/Ch/8Lg==">
             <div style="display: inline-block;">
               <input type="text" name="session[login]" id="session_login" placeholder="Email or Username"/>
             </div>
             <div style="display: inline-block;">
               <input type="password" name="session[password]" id="session_password" placeholder="Password"/>
             </div>
             <div style="display: inline-block;">
               <input type="submit" name="commit" value="Sign in" data-disable-with="Sign in" style="background-color: #078DB8; color: white; border-color: #078DB8;">
             </div>
           </form>
          </div>
        </div>
      <% end %>
    </div>

    <br/>
    <br/>
    <div class="flash">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
